:root{
    --main--header--bg: #222831;
    --main--body--bg: #f2a365;
    --header--color: #ececec;
    --box--bg: #30475e;
    --body--game--bg: #f6bf93;

}

.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
}
.main-header{
    grid-row: 1;
    text-align: center;
    background-color: var(--main--header--bg);
    color: var(--header--color);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header span {
  
    font-size: 60px;
    font-weight: 900;
    background: url(https://media.giphy.com/media/l378wcSfS7eXWQgla/giphy.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;   
}

.main-body{
    grid-row: 2;
    background-color: var(--main--body--bg);
    display: grid;
    grid-template-columns: 15% auto 15%;
}
.body-game {
    grid-column: 2;
    background-color: var(--body--game--bg);
    border-top: var(--main--body--bg) 10px;
    border-top-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box {
    width: 30%;
    height: 30%;
    background-color: var(--box--bg);
    position: relative;
    margin-top: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    
}
.box img{
    width: 60%;
    height: 50%;
    animation: bounce 0.3s;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

 .bounce-7 {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
.modal img {
    position: absolute;
    width: 50vw;
    height: 50vh;
    right: 25vw;
    bottom: 25vh;
}
/* .box span {
 
   
    font-size: 100px;
    font-weight: 900;
    background: url(https://media.giphy.com/media/XbsB79zhtQB9eUsBaU/giphy.gif);
    background-size: cover;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;   
} */
@media only screen and (min-width: 360px) and (max-width: 767px)  {
    .main-body{
        grid-template-columns: 5px auto 5px;
    }
  }

